In [1]:
import pandas as pd
from sqlalchemy import create_engine
from Resources.config import sqlpass
import datetime

In [2]:
#read the csv files in
airport = "Resources/airports.csv"
flights = "Resources/flights.csv"

#create df for airports
airport_df = pd.read_csv(airport)

#view the data
airport_df.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR

In [3]:
#create df for flights
flights_df = pd.read_csv(flights)

#view the data
flights_df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#clean the airport df to only read the state of NY

NY_airports = airport_df.loc[airport_df['iso_region'] == 'US-NY']


#remove columns with duplicate information or blank

cleaned = NY_airports.drop(columns=['continent','home_link', 'wikipedia_link','keywords'], axis=1)

#remove all rows that have NaN in 'iata_code' to get rid of heleports, local hangers, ect...
airport_cleaned= cleaned[pd.notnull(cleaned['iata_code'])]
# airport_cleaned.head()

In [5]:
#clean the flight data by removing unnecessary columns
cleaned_flights = flights_df.drop(columns=['TAXI_OUT', 'WHEELS_OFF','WHEELS_ON', 'TAXI_IN', ])
cleaned_flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#remove all origin airport or destination airports that are not in the airports dataframe by iata_code
NY_flights = cleaned_flights[(cleaned_flights['ORIGIN_AIRPORT'].isin(airport_cleaned['iata_code'])) | (cleaned_flights['DESTINATION_AIRPORT'].isin(airport_cleaned['iata_code']))] 
NY_flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
39,2015,1,1,4,B6,304,N607JB,SJU,JFK,155,...,501.0,11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
40,2015,1,1,4,NK,451,N633NK,PBG,FLL,155,...,450.0,-33.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
44,2015,1,1,4,NK,647,N630NK,IAG,FLL,200,...,453.0,-11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
95,2015,1,1,4,B6,2001,N358JB,BUF,JFK,535,...,648.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
96,2015,1,1,4,B6,2807,N190JB,PWM,JFK,535,...,635.0,-25.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#create new Date column
NY_flights['DATE'] = ""
NY_flights.head()

#Merge Year, Month and Day columns together 

NY_flights["DATE"]=NY_flights.apply(lambda x:'%s-%s-%s' % (x['YEAR'],x['MONTH'], x['DAY']),axis=1)
#convert date column to datetime format
NY_flights['DATE'] = pd.to_datetime(NY_flights['DATE'])

#Drop the Year, Month and Day columns as they are now unnecessary
NY_flights.drop(columns=['YEAR', 'MONTH','DAY'], inplace=True)

<ipython-input-7-016ba00265e5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NY_flights['DATE'] = ""
<ipython-input-7-016ba00265e5>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NY_flights["DATE"]=NY_flights.apply(lambda x:'%s-%s-%s' % (x['YEAR'],x['MONTH'], x['DAY']),axis=1)
<ipython-input-7-016ba00265e5>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NY_flights['DATE'] = pd.to_datetime(NY_flights['DATE'])
C:\Users\April\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [8]:
# reorder the columns
NY_flights = NY_flights[['DATE', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',\
                        'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',\
                        'SCHEDULED_DEPARTURE','DEPARTURE_TIME','DEPARTURE_DELAY',\
                        'SCHEDULED_TIME', 'ELAPSED_TIME','AIR_TIME',\
                         'DISTANCE','SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',\
                         'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED',\
                        'CANCELLATION_REASON', 'AIR_SYSTEM_DELAY','SECURITY_DELAY', 'AIRLINE_DELAY',\
                        'LATE_AIRCRAFT_DELAY','WEATHER_DELAY']]


NY_flights.head(50)

,DATE,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
39,2015-01-01,4,B6,304,N607JB,SJU,JFK,155,153.0,-2.0,...,501.0,11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
40,2015-01-01,4,NK,451,N633NK,PBG,FLL,155,139.0,-16.0,...,450.0,-33.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
44,2015-01-01,4,NK,647,N630NK,IAG,FLL,200,155.0,-5.0,...,453.0,-11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
95,2015-01-01,4,B6,2001,N358JB,BUF,JFK,535,530.0,-5.0,...,648.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
96,2015-01-01,4,B6,2807,N190JB,PWM,JFK,535,528.0,-7.0,...,635.0,-25.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
97,2015-01-01,4,B6,2023,N324JB,JFK,SJU,535,618.0,43.0,...,1039.0,19.0,0,0,NaN,0.0,0.0,19.0,0.0,0.0
120,2015-01-01,4,AA,2299,N3LLAA,JFK,MIA,545,640.0,55.0,...,959.0,69.0,0,0,NaN,14.0,0.0,55.0,0.0,0.0
122,2015-01-01,4,B6,917,N606JB,BOS,JFK,545,543.0,-2.0,...,649.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
123,2015-01-01,4,B6,939,N794JB,JFK,BQN,545,545.0,0.0,...,1007.0,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
133,2015-01-01,4,B6,515,N337JB,BOS,BUF,549,540.0,-9.0,...,719.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
160,2015-01-01,4,B6,115,N284JB,SYR,JFK,555,550.0,-5.0,...,705.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
161,2015-01-01,4,B6,185,N334JB,ROC,JFK,555,550.0,-5.0,...,703.0,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
165,2015-01-01,4,EV,5976,N27200,BUF,EWR,555,928.0,213.0,...,1101.0,226.0,0,0,NaN,13.0,0.0,0.0,0.0,213.0
168,2015-01-01,4,NK,224,N607NK,ORD,LGA,556,547.0,-9.0,...,927.0,27.0,0,0,NaN,27.0,0.0,0.0,0.0,0.0
209,2015-01-01,4,AA,1100,N3GWAA,DFW,LGA,600,554.0,-6.0,...,1005.0,-5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
210,2015-01-01,4,AA,1103,N3HCAA,LGA,DFW,600,NaN,NaN,...,NaN,NaN,0,1,B,NaN,NaN,NaN,NaN,NaN
216,2015-01-01,4,AA,1297,N3JYAA,LGA,MIA,600,708.0,68.0,...,1002.0,50.0,0,0,NaN,0.0,0.0,50.0,0.0,0.0
218,2015-01-01,4,AA,1084,N3GFAA,MIA,LGA,600,558.0,-2.0,...,846.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
236,2015-01-01,4,B6,130,N510JB,RSW,JFK,600,557.0,-3.0,...,839.0,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
237,2015-01-01,4,B6,154,N536JB,PBI,JFK,600,559.0,-1.0,...,843.0,9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
238,2015-01-01,4,B6,353,N570JB,JFK,PBI,600,554.0,-6.0,...,836.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
239,2015-01-01,4,B6,226,N648JB,TPA,JFK,600,553.0,-7.0,...,826.0,-5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
240,2015-01-01,4,B6,272,N556JB,FLL,LGA,600,559.0,-1.0,...,843.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
242,2015-01-01,4,B6,371,N708JB,LGA,FLL,600,600.0,0.0,...,857.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
243,2015-01-01,4,B6,583,N531JB,JFK,MCO,600,557.0,-3.0,...,832.0,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
245,2015-01-01,4,B6,525,N645JB,JFK,TPA,600,554.0,-6.0,...,900.0,-1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
246,2015-01-01,4,B6,746,N587JB,PSE,JFK,600,557.0,-3.0,...,856.0,-5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
247,2015-01-01,4,B6,776,N236JB,MSY,JFK,600,550.0,-10.0,...,930.0,-18.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
248,2015-01-01,4,B6,794,N519JB,AUS,JFK,600,559.0,-1.0,...,1013.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
249,2015-01-01,4,B6,838,N715JB,BQN,JFK,600,601.0,1.0,...,907.0,15.0,0,0,NaN,14.0,0.0,1.0,0.0,0.0
251,2015-01-01,4,B6,1678,N618JB,JAX,JFK,600,600.0,0.0,...,816.0,8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
253,2015-01-01,4,DL,421,N967DL,JFK,ATL,600,605.0,5.0,...,824.0,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
254,2015-01-01,4,DL,731,N323NB,LGA,DTW,600,604.0,4.0,...,757.0,-1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
256,2015-01-01,4,DL,750,N995AT,BOS,JFK,600,556.0,-4.0,...,712.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
258,2015-01-01,4,DL,904,N3748Y,LGA,ATL,600,601.0,1.0,...,807.0,-32.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
277,2015-01-01,4,B6,198,N523JB,MCO,LGA,600,557.0,-3.0,...,827.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
278,2015-01-01,4,B6,1502,N535JB,FLL,JFK,600,610.0,10.0,...,900.0,17.0,0,0,NaN,7.0,0.0,10.0,0.0,0.0
279,2015-01-01,4,B6,1504,N640JB,SJU,JFK,600,627.0,27.0,...,1001.0,59.0,0,0,NaN,32.0,0.0,27.0,0.0,0.0
315,2015-01-01,4,MQ,3350,N830MQ,RDU,JFK,600,555.0,-5.0,...,738.0,3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
328,2015-01-01,4,NK,316,N601NK,DTW,LGA,600,558.0,-2.0,...,836.0,58.0,0,0,NaN,58.0,0.0,0.0,0.0,0.0
377,2015-01-01,4,UA,415,N509UA,JFK,SFO,605,605.0,0.0,...,945.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
393,2015-01-01,4,B6,233,N247JB,BTV,JFK,605,553.0,-12.0,...,717.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
394,2015-01-01,4,B6,601,N559JB,JFK,FLL,605,603.0,-2.0,...,911.0,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
397,2015-01-01,4,B6,1184,N641JB,MCO,JFK,605,600.0,-5.0,...,841.0,10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
440,2015-01-01,4,B6,24,N923JB,LAX,JFK,610,620.0,10.0,...,1413.0,-11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
449,2015-01-01,4,F9,1252,N910FR,MIA,LGA,610,648.0,38.0,...,945.0,40.0,0,0,NaN,26.0,0.0,14.0,0.0,0.0
451,2015-01-01,4,MQ,3601,N530MQ,DTW,LGA,610,603.0,-7.0,...,730.0,-25.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
460,2015-01-01,4,B6,1403,N763JB,JFK,SJU,614,612.0,-2.0,...,1034.0,-23.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
469,2015-01-01,4,AA,1165,N3ACAA,BOS,JFK,615,613.0,-2.0,...,717.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
483,2015-01-01,4,DL,1919,N321NB,LGA,MSP,615,611.0,-4.0,...,820.0,-4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#create connection to engine
engine = create_engine(f'postgresql://postgres:{sqlpass}@localhost:5432/airport_weather_delays')
connection = engine.connect()

In [10]:
#check for tables
engine.table_names()

['Flights', 'Airports', 'historical_weather']

In [21]:
#load flight data into database
NY_flights.to_sql(name='Flights', con=engine, if_exists='append', index=False)

In [22]:
#load airport data into database
airport_cleaned.to_sql(name='Airports', con=engine, if_exists='append', index=False)

In [ ]:
#close the database connection
connection.close()