In [44]:
import pandas as pd
from sqlalchemy import create_engine
from Resources.config import sqlpass

In [45]:
#read the csv files in
airport = "Resources/airports.csv"
flights = "Resources/flights.csv"

#create df for airports
airport_df = pd.read_csv(airport)

#view the data
airport_df.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.949200,-151.695999,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR

In [46]:
#create df for flights
flights_df = pd.read_csv(flights)

#view the data
flights_df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
#clean the airport df to only read the state of NY

NY_airports = airport_df.loc[airport_df['iso_region'] == 'US-NY']


#remove columns with duplicate information or blank

cleaned = NY_airports.drop(columns=['continent','home_link', 'wikipedia_link','keywords'], axis=1)

#remove all rows that have NaN in 'iata_code' to get rid of heleports, local hangers, ect...
airport_cleaned= cleaned[pd.notnull(cleaned['iata_code'])]
airport_cleaned.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code
7490,13405,6N5,heliport,East 34th Street Heliport,40.742599,-73.972099,10.0,US,US-NY,New York,yes,6N5,TSS,6N5
7492,13407,6N7,seaplane_base,New York Skyports Inc Seaplane Base,40.734001,-73.972900,NaN,US,US-NY,New York,yes,NaN,QNY,6N7
9048,19113,89NY,small_airport,Maxson Airfield,44.312002,-75.900340,340.0,US,US-NY,Alexandria Bay,no,89NY,AXB,89NY
12098,301768,AYZ,closed,Zahn's Airport,40.710000,-73.400000,NaN,US,US-NY,Amityville,no,NaN,AYZ,NaN
18074,19598,D38,small_airport,Canandaigua Airport,42.908902,-77.325226,814.0,US,US-NY,Ontario County IDA,no,KIUA,IUA,IUA

In [48]:
#clean the flight data by removing unnecessary columns
cleaned_flights = flights_df.drop(columns=['TAXI_OUT', 'WHEELS_OFF','WHEELS_ON', 'TAXI_IN', ])
cleaned_flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
#remove all origin airport or destination airports that are not in the airports dataframe by iata_code
NY_flights = cleaned_flights[(cleaned_flights['ORIGIN_AIRPORT'].isin(airport_cleaned['iata_code'])) | (cleaned_flights['DESTINATION_AIRPORT'].isin(airport_cleaned['iata_code']))] 
NY_flights.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
39,2015,1,1,4,B6,304,N607JB,SJU,JFK,155,...,501.0,11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
40,2015,1,1,4,NK,451,N633NK,PBG,FLL,155,...,450.0,-33.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
44,2015,1,1,4,NK,647,N630NK,IAG,FLL,200,...,453.0,-11.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
95,2015,1,1,4,B6,2001,N358JB,BUF,JFK,535,...,648.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
96,2015,1,1,4,B6,2807,N190JB,PWM,JFK,535,...,635.0,-25.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
#create connection to engine
engine = create_engine(f'postgresql://postgres:{sqlpass}@localhost:5432/Airport_Delays')
connection = engine.connect()

In [51]:
#check for tables
engine.table_names()

['Flights', 'Airports']

In [54]:
#load flight data into database
NY_flights.to_sql(name='Flights', con=engine, if_exists='append', index=False)

In [55]:
#load airport data into database
airport_cleaned.to_sql(name='Airports', con=engine, if_exists='append', index=False)