In [15]:
# Importing Dependencies
import pandas as pd
from sqlalchemy import create_engine
import sys
sys.path.insert(2, '/c/Users/Kayla/git_repo/KU_Projects/ETL_Project/Resources')
from config import sqlpass

ModuleNotFoundError: No module named 'config'

In [14]:
print(sys.path)

['C:\\Users\\Kayla\\git_repo\\KU_Projects\\ETL_Project\\Historical_Wx', '/c/Users/Kayla/git_repo/KU_Projects/ETL_Project/Resources', '/c/Users/Kayla/git_repo/KU_Projects/ETL_Project/Resources', '/c/Users/Kayla/git_repo/KU_Projects/ETL_Project', 'C:\\Users\\Kayla\\anaconda3\\python38.zip', 'C:\\Users\\Kayla\\anaconda3\\DLLs', 'C:\\Users\\Kayla\\anaconda3\\lib', 'C:\\Users\\Kayla\\anaconda3', '', 'C:\\Users\\Kayla\\anaconda3\\lib\\site-packages', 'C:\\Users\\Kayla\\anaconda3\\lib\\site-packages\\win32', 'C:\\Users\\Kayla\\anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\Users\\Kayla\\anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\Users\\Kayla\\anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\Kayla\\.ipython']

In [2]:
# Reading in CSV File
csv_file = "../Resources/historical_wx.csv"
df = pd.read_csv(csv_file)
df.head()

,Unnamed: 0,Airport Code,Date,Time,Latitude,Longitude,Weather Description,Temperature (F),Heat Index (F),Wind Chill (F),Dew Point (F),Wind Speed (mph),Wind Gusts (mph),Wind Direction,Precipitation (in),Humidity (%),Visibility (mi),Pressure (mb),Cloud Coverage (%),Snow Total (cm)
0,0,AXB,2015-01-01,0,40.78,-73.87,Clear,41,41,35,34,10,15,WNW,0.0,75,6,1025,4,0.0
1,1,IUA,2015-01-01,0,40.78,-73.87,Clear,41,41,35,34,10,15,WNW,0.0,75,6,1025,4,0.0
2,2,FID,2015-01-01,0,40.78,-73.87,Clear,41,41,35,34,10,15,WNW,0.0,75,6,1025,4,0.0
3,3,HCC,2015-01-01,0,40.78,-73.87,Clear,41,41,35,34,10,15,WNW,0.0,75,6,1025,4,0.0
4,4,COP,2015-01-01,0,40.78,-73.87,Clear,41,41,35,34,10,15,WNW,0.0,75,6,1025,4,0.0

In [4]:
# Connecting to Local Database
engine = create_engine(f'postgresql://postgres:{sqlpass}@localhost:5432/airport_weather_delays')
connection = engine.connect()

NameError: name 'sqlpass' is not defined

In [ ]:
# Checking for Tables
 engine.table_names()
    
['historical_weather']

In [ ]:
# Loading CSV File into Database
df.to_sql(name='historical_weather', con=engine, if_exists='append', index=False)

In [ ]:
# Confirming Data has been Added by Querying the historical_weather table
pd.read_sql_query('select * from historical_weather', con=engine).head()