In [33]:
# Importing Dependencies
import pandas as pd
from sqlalchemy import create_engine
from post_pass import postgres_pass

In [34]:
# Reading in CSV File
csv_file = "../Resources/historical_wx.csv"
df = pd.read_csv(csv_file)
df = df.drop(columns=['Unnamed: 0']) # Dropping Column
df.tail()

,Airport Code,Date,Time,Latitude,Longitude,Weather Description,Temperature (F),Heat Index (F),Wind Chill (F),Dew Point (F),Wind Speed (mph),Wind Gusts (mph),Wind Direction,Precipitation (in),Humidity (%),Visibility (mi),Pressure (mb),Cloud Coverage (%),Snow Total (cm)
486,JFK,2015-09-01,0,40.640,-73.780,Partly cloudy,70,76,72,65,9,14,WSW,0.0,79,6,1018,32,0.0
487,LGA,2015-09-01,0,40.780,-73.870,Partly cloudy,69,73,70,64,7,12,WSW,0.0,81,5,1018,33,0.0
488,JFK,2015-09-02,0,40.640,-73.780,Clear,73,97,84,79,3,3,WSW,0.0,85,6,1017,0,0.0
489,LGA,2015-09-02,0,40.776,-73.873,Clear,71,86,80,75,3,4,WSW,0.0,87,6,1017,0,0.0
490,JFK,2015-09-03,0,40.640,-73.780,Clear,74,96,84,80,4,5,W,0.0,88,6,1012,0,0.0

dtype('float64')

In [35]:
# Connecting to Local Database
rds_connection_string = f"postgres:{postgres_pass}@localhost:5432/airport_weather_delays"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [36]:
# Checking for Tables
engine.table_names()
    
['historical_weather']

['historical_weather']

In [37]:
# Loading CSV File into Database
df.to_sql(name='historical_weather', con=engine, if_exists='append', index=False)

KeyError: 'Temperature (F'

In [ ]:
# Confirming Data has been Added by Querying the historical_weather table
pd.read_sql_query('select * from historical_weather', con=engine).head()